.post-content {

	.wrapper {
		padding: 50px 50px;
		background-color: #fff;
		border: 1px solid rgba(1,1,1,0.16);
		box-shadow: 0 0 3px rgba(1,1,1,0.16);
	}
	
	hr {
		height: 30px;
		background-color: #FCF8F7;
		border: 0;
		margin: 80px -54px;
		border-top: 1px solid rgba(1,1,1,0.16);
		border-bottom: 1px solid rgba(1,1,1,0.16);
		box-shadow: inset 0px 6px 9px -6px rgba(1, 1, 1, 0.16)
	}

}